* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: azure;
    
}

body {
    background-color: darkslategrey;
    color: azure;
}

h1 {
    font-size: 3rem;
}

input {
    color: darkslategrey;
}