* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: azure;
}

body {
    background-color: darkslategrey;
    color: azure;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

input, button, li {
    color: darkslategrey;
    background-color: azure;
    font-size: 1.5em;
    border: none;
}

input {
    width: 20em;
    border-radius: 5%;
}

li {
    min-width: 30em;
}

li, input {
    color: black;
}

.toDo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
}

form {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

button:hover {
    background-color: whitesmoke;
}

i {
    color: black;
}

button {
    margin-left: 0.5em;
    padding: 0.1em;
    border-radius: 10%;
}